body {
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: "Orbitron", sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title {
    flex-direction: column;
    line-height: 10px;
}

li {
    display: inline-block;
    margin: 20px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(132, 14, 201);
    transition: 0.3 all;
}

#Instagram-btn {
    border: 2px solid rgb(132, 14, 201);
    padding: 10px;
    border-radius: 15px;
}

#Instagram-btn:hover {
    background-color: rgb(132, 14, 201);
    color: white;
}

h1 {
    font-weight: 200;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2 {
    font-size: 56px;
    line-height: 10px;
    font-family: "Orbitron", sans-serif;

}

span {
    color: rgb(132, 14, 201);
}

p {
    line-height: 20px;
    max-width: 500px;
    font-family: "Orbitron", sans-serif;
}

img {
    width: 590px;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"] {
    height: 50px;
    width: 50%;
    background-color: rgb(132, 14, 201);
    color: white;
    font-weight: bold;
}

form [type="submit"]:hover {
    cursor: pointer;
}

input {
    margin-top: 25px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

footer{
    display:block;
    position: fixed;
    bottom: 0vh;
    left: 0%;
    width: 100%;
    background-color:#040604;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-size: 20px;
    color: rgb(132, 14, 201);
}

footer:hover {
    background-color: rgb(23, 57, 19);
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 2rem;
}

.card {
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-gap: 2rem;
    background: #f1f1f1;
    margin-bottom: 2rem;
}

.card img {
    height: 400px;
}

.card>div {
    padding: 2rem;
}

.card:nth-child(even) img {
    order: 2;
}

.galeria {
    margin: 2rem;
    display: flex;
    height: 20rem;
    gap: 1rem;
}

.galeria > div {
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    transition: all .8s cubic-bezler (1, 1 , 1, 1);
}

.galeria > div:hover{
    flex: 5;
}
